<!DOCTYPE html>
<html lang="">
<head>
    <title>Spring Boot</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles/default.css">
    <link rel="stylesheet" type="text/css" href="styles/home.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>

<div th:insert="components/header/header :: copy"></div>

<main>

    <div th:insert="components/controls/controls :: copy"></div>

    <div id="main">
    </div>
</main>

<div th:insert="components/footer/footer :: copy"></div>

</body>
</html>
