<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/styles/default.css}"/>
    <link rel="stylesheet" th:href="@{/styles/auth.css}"/>
    <title>Login page</title>
</head>
<body>
<div class="auth-container">
    <h2>Login</h2>
    <form method="post" th:action="@{/login}">
        <label for="username">Username:</label>
        <input id="username" name="username" placeholder="Enter your username" required type="text">

        <label for="password">Password:</label>
        <input id="password" name="password" placeholder="Enter your password" required type="password">

        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register here</a></p>
</div>
</body>
</html>
