<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/styles/default.css}"/>
    <link rel="stylesheet" th:href="@{/styles/auth.css}"/>
    <title>Register page</title>
</head>
<body>
<div class="auth-container">
    <h2>Registration</h2>
    <form method="post" th:action="@{/register}">
        <!--/*@thymesVar id="message" type="java.lang.String"*/-->
        <div th:if="${message}">
            <span class="error-message" th:text="${message}"></span>
        </div>

        <label for="username">Username:</label>
        <input id="username" name="username" required="required" tabindex="1" type="text"/>

        <label for="password">Password:</label>
        <input id="password" name="password" required="required" tabindex="2" type="password"/>

        <label for="confirmPassword">Confirm password:</label>
        <input id="confirmPassword" name="confirmPassword" required="required" tabindex="3" type="password"/>

        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>
</div>
</body>
</html>
