<!DOCTYPE html>
<html lang="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
<h2>Registration</h2>
<form method="post" th:action="@{/register}">
    <label for="username">Username:</label>
    <input id="username" name="username" required="required" type="text"/>

    <label for="password">Password:</label>
    <input id="password" name="password" required="required" type="password"/>

    <label for="confirmPassword">Confirm password:</label>
    <input id="confirmPassword" name="confirmPassword" required="required" type="password"/>

    <button type="submit">Register</button>
</form>
</body>
</html>
