<!DOCTYPE html>
<html lang="en">
<head>
    <link th:href="@{/styles/default.css}" rel="stylesheet"/>
    <link th:href="@{/styles/auth.css}" rel="stylesheet"/>
    <title>Register page</title>
</head>
<body>
<div class="auth-container">
    <h2>Registration</h2>
    <form method="post" th:action="@{/register}">
        <label for="username">Username:</label>
        <input id="username" name="username" required="required" type="text"/>

        <label for="password">Password:</label>
        <input id="password" name="password" required="required" type="password"/>

        <label for="confirmPassword">Confirm password:</label>
        <input id="confirmPassword" name="confirmPassword" required="required" type="password"/>

        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>
</div>
</body>
</html>
