<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spring Boot</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/styles/default.css}"/>
    <link rel="stylesheet" th:href="@{/styles/home.css}"/>
    <link rel="stylesheet" th:href="@{/styles/main.css}"/>
</head>
<body>

<div th:replace="~{components/header}"></div>

<main>
    <div id="main">
        <!--/*@thymesVar id="message" type="java.lang.String"*/-->
        <div th:if="${message}">
            <span th:text="${message}"></span>
        </div>

        <div th:replace="~{components/search-items}"></div>

    </div>
</main>

<div th:replace="~{components/footer}"></div>

</body>
</html>
