* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.error-message {
    color: #ff4a4a;
}